* {
    margin: 0;
}

/* nav part start here */
nav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 1.2em;
}

nav li {
    margin-right: 15px;
}

nav .logo {
    font-size: 2em;
}

/* nav end here */
/* top part */
.top {
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}

.top_img_content h2 {
    font-size: 6vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top_img_content p {
    font-size: 2vw;
}

/* top button part start  */
.top_btn {
    background-color: black;
    color: #fff;
    height: 7.5vh;
    width: 20vw;
    border-radius: 30px;
    margin-top: 7vh;
    font-size: 0.9em;
    font-weight: 700;
}

.top_btn_2 {
    background-color: rgb(228, 221, 221);
    color: black;
    text-transform: capitalize;
    height: 7.5vh;
    width: 20vw;
    border-radius: 30px;
}

/* happy clients part start */
.happy_clients {
    height: 30vh;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    justify-content: space-around;
    align-items: center;
}

/* experience part  */
.experience {
    border-right: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
}

.experience h1 {
    font-size: 3em;
}

.experience p {
    font-size: 1.2em;
    text-transform: capitalize;
}

/* clients part  */
.clients {
    border-right: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
}

.clients h1 {
    font-size: 3em;

}

.clients p {
    font-size: 1.2em;
}
/* rating part  */
.rating h1
{
    font-size: 3em;
}
.rating p 
{
    font-size: 1.2em;
    text-transform: capitalize;
}
/* content 1 part  */
.content_1
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/* content 1 min content  */
.min_content_1
{
    margin-left: 6vw;
}
.min_content_1 h3
{
    margin-top: 4%;
    margin-bottom: 3vh;
    font-family: 'Courier New', Courier, monospace ;
}
.min_content_1 i
{
    color: red;
}
.min_content_1 h1
{
    font-size: 3em;
    font-family: sans-serif;
}
/* min content 2 part */
.min_content_2
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3%;
    margin-top: 5vh;
}
.card h1
{
    background-color: rgb(233, 229, 229);
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px rgba(201, 195, 195, 0.253);
    border-radius: 20px;
}
.card i
{
    color: #fff;
    font-size: 2em;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}
.img_content_2 img
{
    width: 100%;
}

/* body post part start here  */
.image_side img
{
    width: 100%;
}
.body_post_1
{   
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20vw;
}
.text_side
{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.text_side h2
{
    font-size: 2em;
    font-family: sans-serif;
}
.text_side p
{
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.text_side .bold_pg
{
    font-size: 1.2em;
    font-weight: 700;
}
.body-btn
{
    margin-top: 5vh;
}
/* Footer part start here  */
.footer_all_section
{
    width: 100%;
    background-color: black;
    border-radius: 30px;
}
.footer_all
{
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15vw;
}
.footer_text
{
    color: #fff;
    padding: 10%;
}
.message_us 
{
    display: flex;
    flex-direction: column;
}
.message_us h2
{
    color: #fff;
    font-size: 2em;
    padding: 10%;
}
.message_us input[type="email"],input[type="text"] , .text_message
{
    height: 6vh;
    margin-right: 10vw;
    border-radius: 20px;
    border: 0;
}